/* horizontal Menu */
.horizontal-menu
{
    main, .site-footer
    {
        margin-left: 0px;
        width: 100%;           

    }
    .site-width
    {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: inherit;
    }
    #header-fix
    {
        z-index: 10;
        box-shadow:none;
        border-bottom: 1px solid var(--headerbordercolor);
        .logo-bar
        {
            background: transparent;
            border-right: 1px solid var(--headerbordercolor);
            width: 130px;
        }
        @media (min-width: 992px){ 
            .collapse-menu-bar
            {
                display: none; 
            }
        }
        .top-icon
        {
            >li
            {
                border-left: 1px solid var(--headerbordercolor);
            }
        }
    }

    @media (min-width: 992px){   

        .sidebar
        {
            background: var(--sidebarbg);
            position: relative;
            width:100%;
            padding: 25px 20px 0px 20px;
            display:flex;
            overflow: inherit;
            z-index: 2;
            top:65px;
            border-bottom:1px solid var(--sidebarbordercolor); 
            border-right:none;            
            .sidebar-menu{
                margin-bottom:-1px;
                padding:0px;            
                > li {
                    display: inline-block;
                    padding: 10px 15px;
                    position: relative;
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border:1px solid var(--sidebarbg);
                    border-bottom:none;
                    &.active, &:hover
                        {
                        border:1px solid var(--sidebarbordercolor);
                        border-bottom:none;
                        background: var(--sidebarheadingbackground);
                        >a{
                            color:var(--sidebaractivecolor);
                        }
                    }
                    > a {
                        font-weight: 600;
                        pointer-events: inherit;
                        font-size: 12px;
                        text-transform: initial;
                        color:var(--sidebarcolor);
                        box-shadow: none;
                        background: transparent;
                        padding: 0px;
                        margin: 0px;
                        line-height: 20px;
                    }
                    ul{
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        background: var(--sidebarheadingbackground);
                        border: 1px solid var(--sidebarbordercolor);
                        left: -1px;
                        min-width: 200px;
                        transition: all .5s;
                        top:120%;
                        margin-top: 0px;
                        li {
                            a{
                                font-weight: 500;
                                color: var(--dropdowncolor);
                                &:hover{
                                    color: var(--sidebaractivecolor);
                                }
                            }
                            &.active > a{
                                color: var(--sidebaractivecolor);
                                &:after {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                    &:hover,li:hover{
                        >ul{
                            visibility: visible;
                            opacity: 1;
                            top:100%;
                            li
                            {
                                padding:10px 10px;
                                ul{
                                    left:100%;
                                }
                                &:hover
                                    {
                                    >ul{
                                        visibility: visible;
                                        opacity: 1;
                                        top:100%;
                                        &.sub-menu{
                                            top:-1px;
                                            left:100%;
                                        }
                                    }
                                }
                                & + li{
                                    border-top: 1px solid var(--sidebarbordercolor);
                                }
                                .sub-menu
                                {
                                    display: block;
                                    padding-left: 0px;
                                    i{
                                        display: initial;
                                    }
                                }
                            }
                        } 
                    }
                }

            } 
            .breadcrumb
            {
                @media (min-width: 992px){
                    display:flex;
                    margin-right: 15px !important;
                }
                .breadcrumb-item
                {
                    color: var(--sidebarcolor);
                }
                .breadcrumb-item.active, .breadcrumb-item+.breadcrumb-item::before{
                    color: var(--sidebarcolor);
                    content: "\e606";
                }
                .breadcrumb-item+.breadcrumb-item::before{
                    font-size: 10px;
                    font-family: 'simple-line-icons';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                a{
                    color: var(--sidebarcolor);
                }
            }
        }
    }


}